@import
       "themes/default/vars"
;

$invalid-background: #FEF8F6;
$valid-background: #EEF9F1;

.receipt-header {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  font-size: $em-m;
  margin: auto;
  max-width: $l-xl;
  padding: $em;
  @media screen and (min-width: $l) {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  div {
    text-align: center;
    @media screen and (min-width: $l) {
      text-align: left;
    }
  }
  h1 {
    font-weight: 600;
    font-size: $em-l;
  }
  .receipt-info-booking {
    b {
      display: inline-block;
      font-weight: 900;
    }
    span {
      display: block;
      text-align: center;
    }
  }
  .receipt-header-trip-info {
    text-align: center;
    padding: $em-s 0 0;
    @media screen and (min-width: $l) {
      padding: 0;
      text-align: right;
    }
  }
  .receipt-action-links {
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: $em-xs;
    padding-top: $em-xs;
  }
}
.receipt-main {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  margin: auto;
  max-width: $l-xl;
  min-height: 100vh;
  position: relative;
  @media screen and (min-width: $l) {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(space-between);
  }
  section.information,
  section.payment {
    padding: $em;
    width: 100%;
  }

  section.information {
    max-width: $s-m;
    @media screen and (min-width: $l) {
      padding-left: $em-xxxl;
      max-width: $m;
    }
  }
  section.payment {
    max-width: $s-m;
    @media screen and (min-width: $l) {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
  .receipt-info-section {
    background: $color-white;
    border: 1px solid rgba(0,0,0,.15);
    h3 {
      font-size: $em;
      font-weight: 600;
      margin-bottom: $em-xxs;
    }
    table {
      margin: auto;
      max-width: $s-padded;
      width: 100%;
      tr {
        &:first-child td {
          padding-top: 0;
        }
        &:last-child td {
          padding-bottom: 0;
        }
      }
      tr + tr {
        border-top: 1px solid rgba(0,0,0,.05);
      }
      td {
        padding: $em-xxs;
        &:last-child {
          font-weight: 500;
          text-align: right;
          .line-item-description {
            span {
              left: calc(-80px + 13px);
            }
            i {
              margin-right: 0;
              margin-left: $em-xxs;
            }
          }
        }
      }
      .line-item-description {
        display: inline-block;
        line-height: $em-l;
        position: relative;
        vertical-align: middle;
        &:hover {
          span {
            display: block;
          }
        }
        i {
          background-color: rgba(0,0,0,.15);
          background-image: url( asset_path('cx/global/info.svg'));
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid rgba(0,0,0,.15);
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          height: $em-m;
          line-height: $em-l;
          margin-right: $em-xxs;
          opacity: .85;
          width: $em-m;
        }
        span {
          background: $color-white;
          border: 1px solid rgba(0,0,0,.15);
          box-shadow: $shadow-standard;
          cursor: default;
          bottom: calc(100% + 6px);
          display: none;
          font-size: $em-s;
          font-weight: 600;
          left: calc(-80px + 8px);
          line-height: 1.44;
          padding: $em-xxxs $em-xxs;
          position: absolute;
          text-align: left;
          width: $xs;
          &:after {
            content: "";
            display: block;
            border-left: $em-xs solid transparent;
            border-right: $em-xs solid transparent;
            border-top: $em-xs solid white;
            bottom: -7px;
            height: 0;
            left: calc(50% - 8px);
            position: absolute;
            width: 0;
          }
          &:before {
            content: "";
            display: block;
            border-left: $em-xs solid transparent;
            border-right: $em-xs solid transparent;
            border-top: $em-xs solid rgba(0,0,0,.15);
            bottom: -1*$em-xs;
            height: 0;
            left: calc(50% - 8px);
            position: absolute;
            width: 0;
          }
        }
      }
    }
    ul.tablify {
      margin: auto;
      max-width: $s-padded;
      width: 100%;
    }
    .featured-image {
      background: $color-lightest-gray;
      background-size: cover;
      background-position: center;
      border-bottom: 1px solid rgba(0,0,0,.15);
      height: $xs;
      width: 100%;
      @media screen and (min-width: $s-m) {
        height: $s-double-padded;
      }
    }
  }
  .receipt-info-section + .receipt-info-section {
    border-top: none;
  }

  .receipt-info-section:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .receipt-info-section:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
    box-shadow: $shadow-subdued;
  }

  .receipt-info-subsection {
    padding: $em-l $em;
    @media screen and (min-width: $m-l) {
      padding: $em-xl $em-xxl;
    }
  }
  .receipt-info-subsection +.receipt-info-subsection {
    border-top: 1px solid rgba(0,0,0,.15);
  }

  .booking-status-header {
    color: $color-white;
    padding: $em-s $em;
    @media screen and (min-width: $m-l) {
      padding: $em $em-xxl;
    }
    h3 {
      margin: 0;
      text-align: center;
    }
    &.booking-confirmed {
      background: $color-green;
    }
    &.booking-unconfirmed {
      background: $color-red;
    }
  }

  .receipt-info-listing-header {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(space-between);
    display: flex;
    flex-wrap: wrap;
    font-size: $em-m;
    h2 {
      margin-bottom: $em-xxs;
      width: 100%;
    }
  }
  .receipt-pricing-breakdown {
    small {
      color: $color-dark-gray;
      font-size: $em-m;
    }
    tr td:last-child {
      font-weight: 600;
    }
    tr:not(.remaining):not(.total):not(.line-item):not(.refund) {
      td:last-child {
        color: $color-green;
      }
    }
    tr.refund {
      td {
        font-weight: 400;
      }
    }
    tr.remaining {
      border-top-color: inherit;
      td {
        font-weight: 600;
      }
    }
    tr.total {
      td {
        font-weight: 600;
      }
    }
    tr.line-item {
      td {
        font-weight: 400;
      }
    }
  }
}
